.card {
    background-color: #cccccc;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 1px darkgrey;
    padding: 1em;
    margin-bottom: 1em;	
    vertical-align: top;
    flex: 0 1 calc(33% - 2.5em);
}

.card .body {
    margin: 1em;
}