.layout {
  flex: 1 0;
  margin: 0 auto;
  width: 100%;
  max-width: 104em;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

header {
  padding: 2.5em 0 1.5em;
  text-align: center;
}

footer {
  flex-shrink: 0;
  padding: 0.5em 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}